@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  --color-bg-body: #F4F7FD;
  --color-text-main: #000112;
}

.dark {
  --color-bg-body: #20212C;
  --color-text-main: #FFFFFF;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text-main);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #828FA3;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #635FC7;
}
